<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Psicho_Support.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="HealthPsicho_DBEntities" connectionString="metadata=res://*/Data.HealthPsichoModel.csdl|res://*/Data.HealthPsichoModel.ssdl|res://*/Data.HealthPsichoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-G791A5DL\MSQLEXPRESS;initial catalog=HealthPsicho_DB;user id=sa;password=Vfrcbvec1910;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Psicho_Support.Properties.Settings>
      <setting name="OnboardingCompleted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDarkTheme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF5A4FCF</value>
      </setting>
    </Psicho_Support.Properties.Settings>
  </userSettings>
</configuration>